/vendor
/bootstrap/*.php
/node_modules
/public/mix-manifest.json
/public/browserconfig.xml
/public/site.webmanifest
/public/css
/public/theme
/public/js
/public/build
/public/storage
/public/images
/public/fonts
/public/content-blocks
/public/content
/public/hot
/public/vendor/vuexy
/public/vendors/
/public/vendors/*
/public/js/app.js
/storage/*.key
/storage/medialibrary
/.idea/
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.testing
auth.json
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
dump.rdb
.DS_Store
/etc/docker/database/mysql-data/*
coverage/
/.vs
storybook-static/
/.scannerwork
/out*
/storage/debugbar/
/.phpunit.result.cache
/.idea/workspace.xml
